<%- include('./layout/header', {dataTable:true}) %>


<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
                    <li class="breadcrumb-item active">Customers</li>
                </ol>
            </div>
            <h4 class="page-title">Customers</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a href="javascript:void(0);" class="btn btn-danger mb-2"><i
                                    class="mdi mdi-plus-circle me-2"></i> Add Customers</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog"></i></button>
                            <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                            <button type="button" class="btn btn-light mb-2">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-striped dt-responsive nowrap w-100"
                           id="products-datatable">
                        <thead>
                        <tr>
                            <th style="width: 20px;">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                    <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                </div>
                            </th>
                            <th>Customer</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th></th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th style="width: 75px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% let i = 1;  CustomerList.forEach(row => { %>


                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td class="table-user">
                                    <img src="/uploads/<%= row.thumbnail %>" alt="user"
                                         class="me-2 rounded-circle">
                                    <a href="javascript:void(0);" class="text-body fw-semibold"><%= row.name %></a>
                                </td>
                                <td>
                                    <%= row.number %>
                                </td>
                                <td>
                                    <%= row.email %>
                                </td>
                                <td></td>
                                <td>
                                    <% let date = moment(row.created_at).format("DD/MM/YYYY") %>
                                    <%= date %>
                                </td>
                                <td>
                                    <div>

                                        <input type="checkbox" id="<%= i %>" class="change-status"
                                               data-switch="success"
                                               value="<%= (row.status) ? 'off' : 'on' %>"
                                                <%= (row.status) ? 'checked' : '' %>
                                               onchange="ChangeStatus(this ,'<%= row._id %>' )">
                                        <label for="<%= i %>" data-on-label="on"
                                               data-off-label="off"
                                               class="mb-0 d-block"></label>
                                    </div>
                                </td>

                                <td>
                                    <% if(row.status){ %>
                                        <span class="badge badge-success-lighten">Active</span>
                                    <% }else{ %>
                                        <span class="badge badge-danger-lighten">Blocked</span>
                                    <% } %>
                                </td>
                            </tr>

                        <% i++; }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('./layout/footer', {dataTable:true}) %>