<%- include('./layout/header', {dataTable:false}) %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>
            <h4 class="page-title">Orders</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-xl-8">
                        <form class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
                            <div class="col-auto">
                                <label for="inputPassword2" class="visually-hidden">Search</label>
                                <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                            </div>
                            <div class="col-auto">
                                <div class="d-flex align-items-center">
                                    <label for="status-select" class="me-2">Status</label>
                                    <select class="form-select" id="status-select">
                                        <option selected>Choose...</option>
                                        <option value="1">Paid</option>
                                        <option value="2">Awaiting Authorization</option>
                                        <option value="3">Payment failed</option>
                                        <option value="4">Cash On Delivery</option>
                                        <option value="5">Fulfilled</option>
                                        <option value="6">Unfulfilled</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4">
                        <div class="text-xl-end mt-xl-0 mt-2">
                            <button type="button" class="btn btn-danger mb-2 me-2"><i class="mdi mdi-basket me-1"></i>
                                Add New Order
                            </button>
                            <button type="button" class="btn btn-light mb-2">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered mb-0">
                        <thead class="table-light">
                        <tr>
                            <th style="width: 20px;">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                    <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                </div>
                            </th>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Payment Status</th>
                            <th>Total</th>
                            <th>Payment Method</th>
                            <th>Order Status</th>
                            <th style="width: 125px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--  Start Order   -->

                        <% order.forEach(row => { %>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>
                                    <a href="<%= (app.user.roles === 'ADMIN') ? '/admin' : '/seller' %>/order/info/<%= row._id %>"
                                       class="text-body fw-bold">#<%= row.order_id %></a>
                                </td>
                                <td>
                                    <%
                                        let date = moment(row.createdAt).format('MMMM DD YYYY');
                                        let time = moment(row.createdAt).format('hh:mm A');
                                    %>
                                    <%= date %> <small class="text-muted"><%= time %></small>
                                </td>
                                <td>
                                    <% switch (row.payment_status) {
                                    case 'PAID':
                                    %>
                                    <h5>
                                        <span class="badge badge-success-lighten">
                                            <i class="mdi mdi-bitcoin"></i> Paid</span>
                                    </h5>
                                    <%
                                        break
                                    case 'AWAITING AUTHORIZATION':
                                    %>
                                    <h5><span class="badge badge-warning-lighten">
                                        <i class="mdi mdi-timer-sand"></i> Awaiting Authorization</span>
                                    </h5>
                                    <%
                                        break
                                    case 'PAYMENT FAILED':
                                    %>
                                    <h5><span class="badge badge-danger-lighten">
                                        <i class="mdi mdi-cancel"></i> Payment Failed</span>
                                    </h5>
                                    <%
                                        break
                                    case 'UNPAID':
                                    %>
                                    <h5>
                                    <span class="badge badge-info-lighten">
                                        <i class="mdi mdi-cash"></i> Unpaid</span>
                                    </h5>
                                    <%
                                        break
                                    } %>
                                </td>
                                <td>
                                    ₹<%= parseInt(row.total_amt) + parseInt(row.shipping_amt) %>
                                </td>
                                <td>
                                    <%= row.payment_method %>
                                </td>
                                <td>
                                    <% switch (row.shipping_status) {
                                    case 'SHIPPED':
                                    %>
                                    <h5>
                                        <span class="badge badge-info-lighten">Shipped</span>
                                    </h5>
                                    <%
                                        break;
                                    case 'PROCESSING':
                                    %>
                                    <h5><span class="badge badge-warning-lighten">Processing</span></h5>
                                    <%
                                        break;
                                    case 'DELIVERED':
                                    %>
                                    <h5><span class="badge badge-success-lighten">Delivered</span></h5>
                                    <%
                                        break;
                                    case 'CANCELLED':
                                    %>
                                    <h5><span class="badge badge-danger-lighten">Cancelled</span></h5>
                                    <%
                                        break;
                                    } %>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript:void(0);" class="action-icon"> <i
                                                class="mdi mdi-square-edit-outline"></i></a>
                                    <!--                                    <a href="javascript:void(0);" class="action-icon"> <i-->
                                    <!--                                                class="mdi mdi-delete"></i></a>-->
                                </td>
                            </tr>
                        <% }) %>

                        <!--  End Order   -->

                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

<%- include('./layout/footer', {dataTable:false}) %>