<%- include('./layout/header', {dataTable:true}) %>


<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                    <li class="breadcrumb-item active">Sellers</li>
                </ol>
            </div>
            <h4 class="page-title">Sellers</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a href="/admin/add/seller" class="btn btn-danger mb-2"><i
                                    class="mdi mdi-plus-circle me-2"></i> Add Sellers</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog"></i></button>
                            <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                            <button type="button" class="btn btn-light mb-2">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-borderless table-hover w-100 dt-responsive nowrap"
                           id="products-datatable">
                        <thead class="table-light">
                        <tr>
                            <th style="width: 20px;">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                    <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                </div>
                            </th>
                            <th>Seller</th>
                            <th>Store Name</th>
                            <th>Products</th>
                            <th>Order</th>
                            <th>Create Date</th>
                            <th>Revenue</th>
                            <th style="width: 75px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% seller.forEach(row => { %>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td class="table-user">
                                    <img src="/uploads/<%= row.avatar %>" alt="table-user"
                                         class="me-2 rounded-circle">
                                    <a href="javascript:void(0);"
                                       class="text-body fw-semibold"><%= row.name %></a>
                                </td>
                                <td>
                                    <%= row.seller.shop_name %>
                                </td>
                                <td>
                                    <span class="fw-semibold">0</span>
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    <% let date = moment(row.createdAt).format("DD/MM/YYYY") %>
                                    <%= date %>
                                </td>
                                <td>
                                    <div class="spark-chart"
                                         data-dataset="[100, 66, 41, 89, 63, 25, 44, 12,0, 36, 9, 54]"></div>
                                </td>

                                <td>
                                    <a href="javascript:void(0);" class="action-icon"> <i
                                                class="mdi mdi-square-edit-outline"></i></a>
                                    <a href="javascript:void(0);" class="action-icon"> <i
                                                class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

<%- include('./layout/footer', {dataTable:true}) %>
